# Topics
1) Train_test_split to find to find model performance
2 Fold cross Validation
3)GridSearchCV for HypearParameter tuning
4)RandomizedSearchCV
5)choosing best model

In [82]:
#iris.datasets from sklearn libray 
import pandas as pd
from  sklearn.datasets import load_iris
iris=load_iris()

In [2]:
#iris feature names
dir(iris)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [3]:
iris.data[0:5]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2]])

In [4]:
iris.target[0:20]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [5]:
#create DataFrame from iris feature names
df=pd.DataFrame(iris.data,columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
#Now add to target columns
df['target']=iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [7]:
df['flower_names']=df.target.apply(lambda x:iris.feature_names[x])

In [8]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_names
0,5.1,3.5,1.4,0.2,0,sepal length (cm)
1,4.9,3.0,1.4,0.2,0,sepal length (cm)
2,4.7,3.2,1.3,0.2,0,sepal length (cm)
3,4.6,3.1,1.5,0.2,0,sepal length (cm)
4,5.0,3.6,1.4,0.2,0,sepal length (cm)

In [9]:
#when you change target values automatically change flower names
df[df.target==1]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_names
50,7.0,3.2,4.7,1.4,1,sepal width (cm)
51,6.4,3.2,4.5,1.5,1,sepal width (cm)
52,6.9,3.1,4.9,1.5,1,sepal width (cm)
53,5.5,2.3,4.0,1.3,1,sepal width (cm)
54,6.5,2.8,4.6,1.5,1,sepal width (cm)
55,5.7,2.8,4.5,1.3,1,sepal width (cm)
56,6.3,3.3,4.7,1.6,1,sepal width (cm)
57,4.9,2.4,3.3,1.0,1,sepal width (cm)
58,6.6,2.9,4.6,1.3,1,sepal width (cm)
59,5.2,2.7,3.9,1.4,1,sepal width (cm)
60,5.0,2.0,3.5,1.0,1,sepal width (cm)
61,5.9,3.0,4.2,1.5,1,sepal width (cm)
62,6.0,2.2,4.0,1.0,1,sepal width (cm)
63,6.1,2.9,4.7,1.4,1,sepal width (cm)
64,5.6,2.9,3.6,1.3,1,sepal width (cm)
65,6.7,3.1,4.4,1.4,1,sepal width (cm)
66,5.6,3.0,4.5,1.5,1,sepal width (cm)
67,5.8,2.7,4.1,1.0,1,sepal width (cm)
68,6.2,2.2,4.5,1.5,1,sepal width (cm)
69,5.6,2.5,3.9,1.1,1,sepal width (cm)
70,5.9,3.2,4.8,1.8,1,sepal width (cm)
71,6.1,2.8,4.0,1.3,1,sepal width (cm)
72,6.3,2.5,4.9,1.5,1,sepal width (cm)
73,6.1,2.8,4.7,1.2,1,sepal width (cm)
74,6.4,2.9,4.3,1.3,1,sepal width (cm)
75,6.6,3.0,4.4,1.4,1,sepal width (cm)
76,6.8,2.8,4.8,1.4,1,sepal width (cm)
77,6.7,3.0,5.0,1.7,1,sepal width (cm)
78,6.0,2.9,4.5,1.5,1,sepal width (cm)
79,5.7,2.6,3.5,1.0,1,sepal width (cm)
80,5.5,2.4,3.8,1.1,1,sepal width (cm)
81,5.5,2.4,3.7,1.0,1,sepal width (cm)
82,5.8,2.7,3.9,1.2,1,sepal width (cm)
83,6.0,2.7,5.1,1.6,1,sepal width (cm)
84,5.4,3.0,4.5,1.5,1,sepal width (cm)
85,6.0,3.4,4.5,1.6,1,sepal width (cm)
86,6.7,3.1,4.7,1.5,1,sepal width (cm)
87,6.3,2.3,4.4,1.3,1,sepal width (cm)
88,5.6,3.0,4.1,1.3,1,sepal width (cm)
89,5.5,2.5,4.0,1.3,1,sepal width (cm)
90,5.5,2.6,4.4,1.2,1,sepal width (cm)
91,6.1,3.0,4.6,1.4,1,sepal width (cm)
92,5.8,2.6,4.0,1.2,1,sepal width (cm)
93,5.0,2.3,3.3,1.0,1,sepal width (cm)
94,5.6,2.7,4.2,1.3,1,sepal width (cm)
95,5.7,3.0,4.2,1.2,1,sepal width (cm)
96,5.7,2.9,4.2,1.3,1,sepal width (cm)
97,6.2,2.9,4.3,1.3,1,sepal width (cm)
98,5.1,2.5,3.0,1.1,1,sepal width (cm)
99,5.7,2.8,4.1,1.3,1,sepal width (cm)

In [10]:
#drop the column target 
#x=df.drop(df['target'],axis=1)
df.drop(['flower_names'],axis=1)
x=df.drop(['target'],axis=1)
x1=x.drop(['flower_names'],axis=1)
x1.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [11]:
#I want access the target values that is y

In [12]:
y=df['target']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int32

In [13]:
#now split data train data test data
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x1,y,test_size=0.3)

In [15]:
len(x_train)

105

In [16]:
len(y_train)

105

In [51]:
len(x_test)

45

In [52]:
len(y_test)

45

In [19]:
#now apply the SVM algorithm
from sklearn import svm,datasets
model=svm.SVC(kernel='rbf',C=30,gamma='auto')
model.fit(x_train,y_train)
model.score(x_train,y_train)

0.9809523809523809

In [53]:

from sklearn.model_selection import cross_val_score
cross_val_score(svm.SVC(kernel='linear',C=10,gamma='auto'),iris.data,iris.target,cv=5)

array([1.        , 1.        , 0.9       , 0.96666667, 1.        ])

In [54]:
cross_val_score(svm.SVC(kernel='rbf',C=10,gamma='auto'),iris.data,iris.target,cv=5)

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

In [55]:
cross_val_score(svm.SVC(kernel='rbf',C=20,gamma='auto'),iris.data,iris.target,cv=5)

array([0.96666667, 1.        , 0.9       , 0.96666667, 1.        ])

In [56]:
import numpy as np
kernels=['rbf','linear']
C=[1,10,20]
avg_scores={}
for kval in kernels:
    for cval in C:
        cv_scores=cross_val_score(svm.SVC(kernel=kval,gamma='auto'),iris.data,iris.target)
        avg_scores[kval+"-"+str(cval)]=np.average(cv_scores)

avg_scores

E:\anacounda\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
E:\anacounda\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
E:\anacounda\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
E:\anacounda\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
E:\anacounda\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
E:\anacounda\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

{'rbf-1': 0.9734477124183006,
 'rbf-10': 0.9734477124183006,
 'rbf-20': 0.9734477124183006,
 'linear-1': 0.9799836601307189,
 'linear-10': 0.9799836601307189,
 'linear-20': 0.9799836601307189}

In [57]:
from sklearn.model_selection import GridSearchCV

clf=GridSearchCV(svm.SVC(gamma='auto'),{
    "C":[1,10,20],
    "kernel":['rbf','linear']
}, cv=5, return_train_score=False)

clf.fit(iris.data,iris.target)
clf.cv_results_

{'mean_fit_time': array([0.00079927, 0.00040092, 0.0007998 , 0.00060253, 0.00019736,
        0.00039978]),
 'std_fit_time': array([0.00039964, 0.00049103, 0.0003999 , 0.00049197, 0.00039473,
        0.00048963]),
 'mean_score_time': array([0.00039983, 0.00039992, 0.00039935, 0.00060253, 0.        ,
        0.        ]),
 'std_score_time': array([0.00048969, 0.0004898 , 0.0004891 , 0.00049202, 0.        ,
        0.        ]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 5])}

In [58]:
df=pd.DataFrame(clf.cv_results_)
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000799,0.000400,0.000400,0.000490,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.000401,0.000491,0.000400,0.000490,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.000800,0.000400,0.000399,0.000489,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.000603,0.000492,0.000603,0.000492,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
4,0.000197,0.000395,0.000000,0.000000,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5
5,0.000400,0.000490,0.000000,0.000000,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,5

In [59]:
df[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.980000
2      10          rbf         0.980000
3      10       linear         0.973333
4      20          rbf         0.966667
5      20       linear         0.966667

In [65]:
from sklearn.model_selection import RandomizedSearchCV
rs=RandomizedSearchCV(svm.SVC(gamma='auto'),{
    'C':[1,10,20],
    'kernel':['rbf','linear']
    },
    cv=5,
    return_train_score=False,
    n_iter=2
)
rs.fit(iris.data,iris.target)
pd.DataFrame(rs.cv_results_)[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0      20       linear         0.966667
1      10       linear         0.973333

In [66]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [67]:
model_params={
    'svm':{
        'model':svm.SVC(gamma='auto'),
        'params':{
            'C':[1,10,20],
            'kernel':['rbf','linear']
        }
    },
    'random_forest':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[1,5,10]
        }
    },
    'logisticRegression':{
        'model':LogisticRegression(solver='liblinear',multi_class='auto'),
        'params':{
            'C':[1,5,10]
        }
    }
}

In [80]:
scores=[]

for model_name,mp in model_params.items():
    clf=GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=False)
    clf.fit(iris.data,iris.target)
    scores.append({
        'model':model_name,
        'best_score':clf.best_score_,
        'best_params':clf.best_params_
    })

In [81]:
df=pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                model  best_score                best_params
0                 svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1       random_forest    0.966667       {'n_estimators': 10}
2  logisticRegression    0.966667                   {'C': 5}